// $theme-color: red !default; // 注意加default才能被覆盖
// $button-primary: blue !default;

// 实现动态切换：
// 写成一个集合变量，存储不同主题对应的颜色
// 注意：变成集合表达主题色之后。index.scss中需要通过方法，借助mixin来获取变量颜色
$themes: (
  'default': (
    theme-color: #409eff,
    button-primary: #409eff,
    font-color: #fff
  )
) !default;

// 上述代码解析
// 1. 定义一个集合变量$themes，存储不同主题对应的颜色
// 2. 语法用()表示对象，类似js的 {}
// 3.!default表示默认值，只有在没有定义的情况下才会使用这个值
