/* 浅色模式优先 */
:root {
  --bg-color: #fff;
  --text-color: #213547;
  --primary-color: #1677ff;
}
/* 暗黑模式 */
:root.dark {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #8ab4f8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--primary-color);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
.theme-toggle:hover {
  transform: scale(1.1);
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

:root.dark::view-transition-old(root) {
  z-index: 2147483646;
}

:root.dark::view-transition-new(root) {
  z-index: 1;
}
